<%= form_for(@showdown) do |f| %>
  <% if @showdown.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@showdown.errors.count, "error") %> prohibited this showdown from being saved:</h2>

      <ul>
      <% @showdown.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
